# Bots in Science ðŸ§ª

## Libraries

In [1]:
import pandas as pd
from functions import bot_mentions

## 1. Overall

In [2]:
ãƒ‡ãƒ¼ã‚¿_bots = pd.read_csv('results/bots_list.tsv', sep='\t', dtype={'Outlet or Author':str})
ãƒ‡ãƒ¼ã‚¿_bots.shape

(11073, 1)

In [6]:
ãƒ‡ãƒ¼ã‚¿_tweeters = pd.read_csv('data/tweeters_metadata.tsv', sep='\t', encoding='UTF-8', dtype={'id_str':str})
ãƒ‡ãƒ¼ã‚¿_tweeters = ãƒ‡ãƒ¼ã‚¿_tweeters.groupby('id_str').first().reset_index()
ãƒ‡ãƒ¼ã‚¿_tweeters = ãƒ‡ãƒ¼ã‚¿_tweeters[ãƒ‡ãƒ¼ã‚¿_tweeters.id_str.isin(ãƒ‡ãƒ¼ã‚¿_bots['Outlet or Author'].tolist())].copy()
ãƒ‡ãƒ¼ã‚¿_tweeters.shape

(11073, 20)

In [7]:
ãƒ‡ãƒ¼ã‚¿_tw_men = pd.read_csv('data/final_mentions_full_bots.tsv', sep='\t', encoding='UTF-8',
                         dtype={'Outlet or Author':str, 'External Mention ID':str})
ãƒ‡ãƒ¼ã‚¿_tw_men = ãƒ‡ãƒ¼ã‚¿_tw_men[ãƒ‡ãƒ¼ã‚¿_tw_men['Outlet or Author'].isin(ãƒ‡ãƒ¼ã‚¿_bots['Outlet or Author'].tolist())].copy()
ãƒ‡ãƒ¼ã‚¿_tw_men.shape

(2420650, 6)

In [36]:
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq = bot_mentions(ãƒ‡ãƒ¼ã‚¿_tw_men, agg_by='Outlet or Author')
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq = ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq.reset_index()
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq

,Outlet or Author,papers_mentioned,tweeters,bots,mentions,mentions_bot,tweets,tweets_bot,retweet,retweet_bot,bots_p,bot_mentions_p,bot_tweets_p,bot_retweet_p
0,1000429165995282433,11,1,1,12,12,1,1,11,11,100.0,100.0,100.0,100.0
1,1000588273582989313,10,1,1,10,10,1,1,9,9,100.0,100.0,100.0,100.0
2,1000843873613242370,24,1,1,24,24,24,24,0,0,100.0,100.0,100.0,NaN
3,1001113877948448769,84,1,1,610,610,610,610,0,0,100.0,100.0,100.0,NaN
4,1001169411636695040,24,1,1,31,31,20,20,11,11,100.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11068,999784693,550,1,1,551,551,549,549,2,2,100.0,100.0,100.0,100.0
11069,999792779457957890,29,1,1,33,33,1,1,32,32,100.0,100.0,100.0,100.0
11070,999816072101494784,9,1,1,9,9,8,8,1,1,100.0,100.0,100.0,100.0
11071,999895982119702528,8,1,1,9,9,4,4,5,5,100.0,100.0,100.0,100.0
11072,999927639119835136,41,1,1,47,47,21,21,26,26,100.0,100.0,100.0,100.0

In [37]:
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq = ãƒ‡ãƒ¼ã‚¿_bots.merge(ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq, how='inner', on='Outlet or Author')
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq

,Outlet or Author,papers_mentioned,tweeters,bots,mentions,mentions_bot,tweets,tweets_bot,retweet,retweet_bot,bots_p,bot_mentions_p,bot_tweets_p,bot_retweet_p
0,2797948887,32678,1,1,43538,43538,33637,33637,9901,9901,100.0,100.0,100.0,100.0
1,2527490466,31653,1,1,32792,32792,32792,32792,0,0,100.0,100.0,100.0,NaN
2,1331133278,21466,1,1,31088,31088,30912,30912,176,176,100.0,100.0,100.0,100.0
3,207581304,29828,1,1,30313,30313,30313,30313,0,0,100.0,100.0,100.0,NaN
4,1477921047034929156,209,1,1,30011,30011,30011,30011,0,0,100.0,100.0,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11068,851717988780621825,9,1,1,9,9,1,1,8,8,100.0,100.0,100.0,100.0
11069,1391120434683432960,5,1,1,9,9,5,5,4,4,100.0,100.0,100.0,100.0
11070,1401509102,8,1,1,9,9,9,9,0,0,100.0,100.0,100.0,NaN
11071,1384566755830415368,3,1,1,9,9,7,7,2,2,100.0,100.0,100.0,100.0
11072,1489431368430153729,8,1,1,9,9,9,9,0,0,100.0,100.0,100.0,NaN

In [39]:
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq = ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq[['Outlet or Author', 'papers_mentioned', 'mentions', 'tweets', 'retweet']].copy()
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq = ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq.merge(ãƒ‡ãƒ¼ã‚¿_tweeters, how='inner', left_on='Outlet or Author', right_on='id_str')

In [40]:
ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq[['papers_mentioned', 'mentions', 'tweets', 'retweet']].groupby(lambda x: True).agg({'mean', 'median', 'std'})

     papers_mentioned                        mentions                      \
                 mean          std median        mean          std median
True       182.508896  1063.382323   16.0  218.608327  1279.110852   19.0

          tweets                        retweet
            mean          std median       mean         std median
True  182.299919  1212.471677    9.0  36.308408  324.480128    7.0

In [42]:
#ãƒ‡ãƒ¼ã‚¿_tw_men_bot_freq.sort_values('mentions', ascending=False).head(30).to_csv('results/top_bots.tsv', sep='\t', encoding='UTF-8', index=False)

In [43]:
ãƒ‡ãƒ¼ã‚¿_tw_men_esi = pd.read_csv('data/final_mentions_full_bots_esi.tsv', sep='\t', encoding='UTF-8',
                             dtype={'Outlet or Author':str, 'External Mention ID':str})
ãƒ‡ãƒ¼ã‚¿_tw_men_esi = ãƒ‡ãƒ¼ã‚¿_tw_men_esi[ãƒ‡ãƒ¼ã‚¿_tw_men_esi['Outlet or Author'].isin(ãƒ‡ãƒ¼ã‚¿_bots['Outlet or Author'].tolist())].copy()
ãƒ‡ãƒ¼ã‚¿_tw_men_esi.shape

(3344676, 7)

In [50]:
ãƒ‡ãƒ¼ã‚¿_tw_men_esi_freq = ãƒ‡ãƒ¼ã‚¿_tw_men_esi[['Outlet or Author', 'ESI']].drop_duplicates().groupby('Outlet or Author').count().reset_index()

In [57]:
100*ãƒ‡ãƒ¼ã‚¿_tw_men_esi_freq[ãƒ‡ãƒ¼ã‚¿_tw_men_esi_freq['ESI']>1].shape[0]/ãƒ‡ãƒ¼ã‚¿_tw_men_esi_freq.shape[0]

91.36638670640296

In [51]:
ãƒ‡ãƒ¼ã‚¿_tw_men_esi_freq['ESI'].mean()

7.0202293867967125